<mat-tab-group
  (selectChange)="setRating($event)"
  [@.disabled]="true">
  <mat-tab
    *ngFor="let rating of ratingsArr"
    label="{{rating}}">
    <h2
      class="center-text">
      Průměrná půjčka: {{averageOfFilteredLoans}} Kč
    </h2>
    <div
      *ngIf="filteredLoans.length === 0"
      class="center-text">
      Žádné půjčky
    </div>
    <mat-grid-list
      [cols]="colNum"
      rowHeight="200px"
      #list
      gutterSize="20px">
      <mat-grid-tile
        *ngFor="let loan of filteredLoans; trackBy: trackLoansById"
        [colspan]="1"
        [rowspan]="1">
        <mat-card
          [style.height]="'150px'"
          [style.width]="'150px'">
          <mat-card-title>
            {{loan.amount}} Kč
          </mat-card-title>
          <mat-card-subtitle>
            {{loan.rating}}
          </mat-card-subtitle>
          <mat-card-content>
            {{loan.name}}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>





